#popup-content
	h3#popup-title= "Magnitude: " + magnitude + " on " + date
	#data-container
		#date
			span Date: 
			span= date
		#depth
			span Depth: 
			span= depth
		#magnitude
			span Magnitude: 
			span= magnitude
		#mag_type
			span Magnitude Type: 
			span= type
		#location
			span Location: 
			span= location